@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;

  @media (max-width: 1000px) {
    font-size: 50%;
  }
  @media (max-width: 500px) {
    font-size: 40%;
  }
}

body {
  width: 100%;
  height: 100vh;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

main {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
}
nav {
  padding: 2em 3em;
  margin-bottom: 1.5em;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .categories {
    display: flex;
    padding-top: 1em;

    li {
      font-size: 1.3rem;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 1.5em;
      }
    }
  }
  #countries {
    text-transform: uppercase;
  }
}
.header {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas:
    "m t"
    "m b";

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "m"
      "t"
      "b";
    grid-template-rows: 0.5fr;
    height: 100%;
  }
  &__article:nth-child(1) {
    grid-area: m;

    figcaption {
      font-size: 5rem;

      @media (max-width: 600px) {
        font-size: 2rem;
      }
    }
  }

  &__article:nth-child(2) {
    grid-area: t;
  }

  &__article:nth-child(3) {
    grid-area: b;
  }

  img {
    width: 100%;
    height: 100%;
    filter: brightness(0.55);
  }
  &__article {
    position: relative;
  }
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-weight: 700;
    font-size: 2.6rem;
    padding: 0.5em 1em;

    @media (max-width: 500px) {
      font-size: 3rem;
    }

    @media (max-width: 600px) {
      font-size: 2rem;
    }
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.4rem;
  grid-row-gap: 3rem;
}

.heading--2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 2em 0;
}
.card {
  width: 100%;
  padding: 1em;
  &__photo img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    filter: brightness(0.55);
  }
  &__content {
    padding-top: 1.2rem;
  }
  &__heading {
    font-size: 1.6rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;

    &:hover {
      color: #7399c5;
    }
  }
}
